<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/web3@1.6.1/dist/web3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@walletconnect/web3-provider@1.6.6/dist/umd/index.min.js"></script>
    <style>
        input[readonly] {
            pointer-events: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Payment Page</h1>
        <form id="paymentForm">
            <div class="form-group">
                <label for="sender">Sender:</label>
                <input type="text" id="sender" name="sender" readonly><br><br>
            </div>
            <div class="form-group">
                <label for="receiver">Receiver:</label>
                <input type="text" id="receiver" name="receiver" readonly><br><br>
            </div>
            <div class="form-group">
                <label for="amount">USDT Amount (in BNB USDT):</label>
                <input type="text" id="amount" name="amount" readonly><br><br>
            </div>
            <button type="button" id="connectWalletBtn" onclick="connectWallet()">Connect Wallet</button>
            <div id="walletStatus"></div>
            <button type="button" id="payNowBtn" onclick="makePayment()" style="display:none;">Pay Now</button>
            <div id="timer" style="display:none;">Time left: <span id="timeLeft">60</span> seconds</div>
        </form>
    </div>

    <script>
        let web3;
        let accounts;
        let uid;
        const contractAddress = '0x55d398326f99059fF775485246999027B3197955';
        const contractABI = [{
            "inputs": [],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "constructor"
        }, {
            "anonymous": false,
            "inputs": [{
                "indexed": true,
                "internalType": "address",
                "name": "owner",
                "type": "address"
            }, {
                "indexed": true,
                "internalType": "address",
                "name": "spender",
                "type": "address"
            }, {
                "indexed": false,
                "internalType": "uint256",
                "name": "value",
                "type": "uint256"
            }],
            "name": "Approval",
            "type": "event"
        }, {
            "anonymous": false,
            "inputs": [{
                "indexed": true,
                "internalType": "address",
                "name": "previousOwner",
                "type": "address"
            }, {
                "indexed": true,
                "internalType": "address",
                "name": "newOwner",
                "type": "address"
            }],
            "name": "OwnershipTransferred",
            "type": "event"
        }, {
            "anonymous": false,
            "inputs": [{
                "indexed": true,
                "internalType": "address",
                "name": "from",
                "type": "address"
            }, {
                "indexed": true,
                "internalType": "address",
                "name": "to",
                "type": "address"
            }, {
                "indexed": false,
                "internalType": "uint256",
                "name": "value",
                "type": "uint256"
            }],
            "name": "Transfer",
            "type": "event"
        }, {
            "constant": true,
            "inputs": [],
            "name": "_decimals",
            "outputs": [{
                "internalType": "uint8",
                "name": "",
                "type": "uint8"
            }],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        }, {
            "constant": true,
            "inputs": [],
            "name": "_name",
            "outputs": [{
                "internalType": "string",
                "name": "",
                "type": "string"
            }],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        }, {
            "constant": true,
            "inputs": [],
            "name": "_symbol",
            "outputs": [{
                "internalType": "string",
                "name": "",
                "type": "string"
            }],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        }, {
            "constant": true,
            "inputs": [{
                "internalType": "address",
                "name": "owner",
                "type": "address"
            }, {
                "internalType": "address",
                "name": "spender",
                "type": "address"
            }],
            "name": "allowance",
            "outputs": [{
                "internalType": "uint256",
                "name": "",
                "type": "uint256"
            }],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        }, {
            "constant": false,
            "inputs": [{
                "internalType": "address",
                "name": "spender",
                "type": "address"
            }, {
                "internalType": "uint256",
                "name": "amount",
                "type": "uint256"
            }],
            "name": "approve",
            "outputs": [{
                "internalType": "bool",
                "name": "",
                "type": "bool"
            }],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        }, {
            "constant": true,
            "inputs": [{
                "internalType": "address",
                "name": "account",
                "type": "address"
            }],
            "name": "balanceOf",
            "outputs": [{
                "internalType": "uint256",
                "name": "",
                "type": "uint256"
            }],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        }, {
            "constant": false,
            "inputs": [{
                "internalType": "uint256",
                "name": "amount",
                "type": "uint256"
            }],
            "name": "burn",
            "outputs": [{
                "internalType": "bool",
                "name": "",
                "type": "bool"
            }],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        }, {
            "constant": true,
            "inputs": [],
            "name": "decimals",
            "outputs": [{
                "internalType": "uint8",
                "name": "",
                "type": "uint8"
            }],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        }, {
            "constant": false,
            "inputs": [{
                "internalType": "address",
                "name": "spender",
                "type": "address"
            }, {
                "internalType": "uint256",
                "name": "subtractedValue",
                "type": "uint256"
            }],
            "name": "decreaseAllowance",
            "outputs": [{
                "internalType": "bool",
                "name": "",
                "type": "bool"
            }],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        }, {
            "constant": true,
            "inputs": [],
            "name": "getOwner",
            "outputs": [{
                "internalType": "address",
                "name": "",
                "type": "address"
            }],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        }, {
            "constant": false,
            "inputs": [{
                "internalType": "address",
                "name": "spender",
                "type": "address"
            }, {
                "internalType": "uint256",
                "name": "addedValue",
                "type": "uint256"
            }],
            "name": "increaseAllowance",
            "outputs": [{
                "internalType": "bool",
                "name": "",
                "type": "bool"
            }],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        }, {
            "constant": false,
            "inputs": [{
                "internalType": "uint256",
                "name": "amount",
                "type": "uint256"
            }],
            "name": "mint",
            "outputs": [{
                "internalType": "bool",
                "name": "",
                "type": "bool"
            }],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        }, {
            "constant": true,
            "inputs": [],
            "name": "name",
            "outputs": [{
                "internalType": "string",
                "name": "",
                "type": "string"
            }],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        }, {
            "constant": true,
            "inputs": [],
            "name": "owner",
            "outputs": [{
                "internalType": "address",
                "name": "",
                "type": "address"
            }],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        }, {
            "constant": false,
            "inputs": [],
            "name": "renounceOwnership",
            "outputs": [],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        }, {
            "constant": true,
            "inputs": [],
            "name": "symbol",
            "outputs": [{
                "internalType": "string",
                "name": "",
                "type": "string"
            }],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        }, {
            "constant": true,
            "inputs": [],
            "name": "totalSupply",
            "outputs": [{
                "internalType": "uint256",
                "name": "",
                "type": "uint256"
            }],
            "payable": false,
            "stateMutability": "view",
            "type": "function"
        }, {
            "constant": false,
            "inputs": [{
                "internalType": "address",
                "name": "recipient",
                "type": "address"
            }, {
                "internalType": "uint256",
                "name": "amount",
                "type": "uint256"
            }],
            "name": "transfer",
            "outputs": [{
                "internalType": "bool",
                "name": "",
                "type": "bool"
            }],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        }, {
            "constant": false,
            "inputs": [{
                "internalType": "address",
                "name": "sender",
                "type": "address"
            }, {
                "internalType": "address",
                "name": "recipient",
                "type": "address"
            }, {
                "internalType": "uint256",
                "name": "amount",
                "type": "uint256"
            }],
            "name": "transferFrom",
            "outputs": [{
                "internalType": "bool",
                "name": "",
                "type": "bool"
            }],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        }, {
            "constant": false,
            "inputs": [{
                "internalType": "address",
                "name": "newOwner",
                "type": "address"
            }],
            "name": "transferOwnership",
            "outputs": [],
            "payable": false,
            "stateMutability": "nonpayable",
            "type": "function"
        }];
        const postUrl = 'https://thembcoin.com/MBAPI/mbsucess.php';
        const nextUrl = 'https://thembcoin.com/MBAPI/mbsucess.php';

        window.onload = function () {
            const urlParams = new URLSearchParams(window.location.search);
            const receiver = urlParams.get('receiver');
            const amount = urlParams.get('amount');
            uid = urlParams.get('uid');

            if (!receiver || !amount || !uid) {
                alert('Upps Something is missing');
                return;
            }

            document.getElementById('receiver').value = receiver;
            document.getElementById('amount').value = amount;
        };

        async function connectWallet() {
            if (window.ethereum) {
                web3 = new Web3(window.ethereum);
                try {
                    accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
                    document.getElementById('sender').value = accounts[0];
                    document.getElementById('walletStatus').innerText = 'Wallet Connected';
                    document.getElementById('connectWalletBtn').style.display = 'none';
                    document.getElementById('payNowBtn').style.display = 'block';
                } catch (error) {
                    console.error('User denied account access:', error);
                }
            } else {
                const provider = new WalletConnectProvider.default({
                    infuraId: "YOUR_INFURA_ID" // Required, replace with your own Infura project ID
                });

                await provider.enable();

                web3 = new Web3(provider);
                accounts = await web3.eth.getAccounts();
                document.getElementById('sender').value = accounts[0];
                document.getElementById('walletStatus').innerText = 'Wallet Connected';
                document.getElementById('connectWalletBtn').style.display = 'none';
                document.getElementById('payNowBtn').style.display = 'block';
            }
        }

        async function makePayment() {
            const sender = document.getElementById('sender').value;
            const receiver = document.getElementById('receiver').value;
            const amount = web3.utils.toWei(document.getElementById('amount').value, 'ether');

            if (!sender || !receiver || !amount) {
                alert('Upps Something is missing');
                return;
            }

            if (!web3.utils.isAddress(sender)) {
                alert('Invalid sender address');
                return;
            }

            if (!web3.utils.isAddress(receiver)) {
                alert('Invalid receiver address');
                return;
            }

            const contract = new web3.eth.Contract(contractABI, contractAddress);

            try {
                const gas = await contract.methods.transfer(receiver, amount).estimateGas({ from: sender });
                startTimer();
                const result = await contract.methods.transfer(receiver, amount).send({ from: sender, gas: gas });
                alert('Transaction completed successfully. Transaction Hash: ' + result.transactionHash);

                const responseData = {
                    sender: sender,
                    receiver: receiver,
                    amount: document.getElementById('amount').value,
                    uid: uid,
                    hash: result.transactionHash,
                    status: 'success'
                };
                console.log(responseData);
                await sendTransactionData(responseData);
                window.location.href = nextUrl;
            } catch (error) {
                alert('Transaction failed: ' + error.message);

                const responseData = {
                    sender: sender,
                    receiver: receiver,
                    amount: document.getElementById('amount').value,
                    uid: uid,
                    hash: '',
                    status: 'failed'
                };
                console.log(responseData);
                await sendTransactionData(responseData);
                window.location.href = nextUrl;
            }
        }

        function startTimer() {
            let timeLeft = 60;
            const timerElement = document.getElementById('timer');
            const timeLeftElement = document.getElementById('timeLeft');
            timerElement.style.display = 'block';
            const timer = setInterval(() => {
                timeLeft--;
                timeLeftElement.textContent = timeLeft;
                if (timeLeft <= 0) {
                    clearInterval(timer);
                    alert('Time expired');
                    window.location.href = nextUrl;
                }
            }, 1000);
        }

        async function sendTransactionData(data) {
            try {
                await fetch(postUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data),
                    mode: 'no-cors'
                });
            } catch (error) {
                console.error('Error sending transaction data:', error);
            } finally {
                window.location.href = nextUrl;
            }
        }
    </script>
</body>

</html>